/* struttura generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* header */

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.header-conteiner-menu {
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 50%;
}

.menu {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

a {
    color: #fff;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.buttom {
    background-color: #fff;
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    border-radius: 20px;
}
.log-in {
    color: black;
    padding: 5px;
}

.header-title {
    color: #fff;
    width: 40%;
    text-align: center;
    padding: 240px 0;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.description {
    font-size: 30px;
    line-height: 40px;
}

.buttom-row {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.buttom-dwnl-mac {
    background-color: #fff;
    height: 50px;
    width: 300px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    border-radius: 20px;
}

.dwnl-mac {
    color: black;
    font-size: 30px;
    text-decoration: none;
    padding: 5px;
}

.buttom-open-discord {
    background-color: #23272a;
    height: 50px;
    width: 400px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    border-radius: 20px;
}

.open-discord {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    padding: 5px;
}


/* main */

.conteiner-row {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.conteiner-column {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-row h2,.conteiner-column h2 {
    font-size: 50px;
    padding-bottom: 20px;
}

.conteiner-row p,.conteiner-column p {
    font-size: 25px;
}

.img-slot {
    width: 678px;
    height: 440px;
}

.conteiner-column .img-slot {
    width: 100%;
    height: 100%;
}

.conteiner-column > .img-slot > img {
    width: 100%;
    height: 100%;
}

.text-slot {
    width: 60%;
    height: 100%;
    padding: 40px 100px;
}

.row-grey {
    background-color: lightgray;
}

.conteiner-column h3 {
    font-size: 30px;
}

.bg-star {
    background-image: url(../img/stars.svg);
    background-size: cover;
    height: 50px;
    width: 550px;
    margin-bottom: 40px;
    line-height: 50px;
    vertical-align: bottom;
}

.conteiner-column .buttom-dwnl-mac {
    background-color: #5865f2;
}
.conteiner-column .buttom-dwnl-mac > .dwnl-mac {
    color: #fff;
}



/* footer */

footer {
    background-color: #23272a;
    color: #fff;
    min-height: 500px;
    padding: 10px 0;
}

.conteiner-footer {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.selector-language {
    display: flex;
    align-items: baseline;
}
.col {
    width: 25%;
    height: 100%;
}

.col > li, .selector-language {
    padding: 10px 0;
}

#ita-flag {
    width: 25px;
    height: 15px;
}

.col > h4, ul {
    color: #5865f2;
}
.language {
    margin: 0 15px;
}

i {
    margin-right: 15px;
}

.credits {
    width: 80%;
    margin: 20px auto;
    padding: 10px 0;
    border-top: solid 2px #5865f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-in {
    background-color: #5865f2;
}